.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container button {
  margin-top: 1rem;
}

.container h3 {
  margin: 1rem 0;
}

.container input {
  width: 300px;
  padding: 0.5rem 0;
}

.container button {
  width: 300px;
}
